@charset "UTF-8";


:root {
    --border_color: #c8c8c8;
    --black: #24292e;
    --footer: #c0c0c0;
}


html {
    font-size: 100%;
}

li {
    list-style: none;
}

img {
    margin-left: auto;
    margin-right: auto;
}



.img-verticle {
    display: block;
    height: 600px;
}

.img-hrizemn {
    display: block;
    width: 600px;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
}

.site-title {
    line-height: 1px;
}

.site-title a {
    display: block;
    color: #24292e;
}

.sec-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;
}



/*----------------------------------------
ヘッダー
----------------------------------------*/
#header {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 270px;
    margin: 0 auto;
    padding: 0 4%;
}

#header ul {
    display: flex;
    padding: 0 auto;
}

#header li {
    font-size: 0.9rem;
    margin-left: 30px;
}

#header li a {
    color: #24292e;
}

#header li a:hover {
    opacity: 0.7;
}

/*----------------------------------------
About
----------------------------------------*/
#about dl {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px var(--border_color);
    margin-bottom: 20px;
}
#about dt {
    width: 20%;
    border-bottom: solid 1px var(--border_color);
    padding: 15px 2%;
    margin: 0%;
    text-align: center;
}
#about dd {
    width: 76%;
    border-bottom: solid 1px var(--border_color);
    padding: 15px 0%;
    margin: 0%;
}

/*----------------------------------------
News
----------------------------------------*/
#news dl {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px var(--border_color);
    margin-bottom: 20px;
}
#news dt {
    width: 20%;
    border-bottom: solid 1px var(--border_color);
    padding: 15px 2%;
    margin: 0%;
    text-align: center;
}
#news dd {
    width: 76%;
    border-bottom: solid 1px var(--border_color);
    padding: 15px 0%;
    margin: 0%;
}

/*----------------------------------------
Diary
----------------------------------------*/
#diary dl {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px var(--border_color);
    margin-bottom: 20px;
}
#diary dt {
    width: 20%;
    border-bottom: solid 1px var(--border_color);
    padding: 15px 2%;
    margin: 0%;
    text-align: center;
}
#diary dd {
    width: 76%;
    border-bottom: solid 1px var(--border_color);
    padding: 15px 0%;
    margin: 0%;
}

/*----------------------------------------
Footer
----------------------------------------*/
footer {
    width: 100%;
    text-align: center;
    padding: 50px 0;
    background-color: var(--footer);
    font-size: small;
}


/*----------------------------------------
Return
----------------------------------------*/
#return ul {
    display: flex;
    flex-wrap: wrap;
}
#return li {
    margin: auto;
}


/*----------------------------------------
english_button
----------------------------------------*/
#english_button {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #585b5e;
    border: solid 2px #585b5e;
    border-radius: 3px;
    transition: .4s;
}
#english_button:hover {
    background: #585b5e;
    color: white;  
}









/*----------------------------------------
スマホ用の設定
----------------------------------------*/
@media screen and (max-width: 600px) {
    .wrapper {
        margin-bottom: 70px;
    }

    .site-title {
        margin-top: 50px;
    }

    .img-verticle {
        height: 400px;
    }
    
    .img-hrizemn {
        width: 400px;
    }

    /*----------------------------------------
    ヘッダー
    ----------------------------------------*/
    #header {
        max-width: 100%;
        height: auto;
        flex-direction: column;
    }


    #header li {
        font-size: 0.8rem;
        margin-left: 20px;
    }

    #header li:first-child {
        margin-left: 0;
    }

}