h2 {
    font-size: 20px;
    margin: 30px 15% 10px 15%;
}

ol {
    width: auto;
    height: auto;
    font-size: 16px;
    margin: 10px 15%;
    counter-reset:item 0;
    list-style-type: decimal;
}

li {
    margin: 30px 30px;
    line-height: 25px;
}
